@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #FEFADC;
    /* background: linear-gradient(rgb(6,80,76), rgb(20,129,102), rgb(95,217,226));
    flood-color: rgb(2, 51, 39);*/
}

header div{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

.logo{
    width: 200px;
    height: 160px;
    margin: 30px;
}

.card-img{
    width: 200px;
    height: 160px;
    margin: 30px;
}


.fondo-img{
    width: 100%;
    height: 300px;
    
}


h1{
    margin: 80px 70px;
    margin-left: 100px;
}


form{
    text-align: center;
    padding: 50px; 
    
}


form label {
    font-size: 26px;
    display: inline-block;
    font-weight: lighter;
}

select{
    font-size: 16px;
    width: 60%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}



/*-----BOTONES--------*/

button{
    padding: 5px;
    width: 30%;
    border-radius: 50px;
    border: 0.5px solid black;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}



a{
    text-decoration: none;
    color: black;
}


button:hover{
    background-color: #062530;
    color: grey;
    font-size: 24px;
}

.btn-submit{
    text-align: center;
    padding-bottom: 100px;
}

.btn-b{
    margin-left: 80px;
    padding: 10px;
    border-radius: 50px;
    border: 0.5px solid black;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: whitesmoke;
}






/*----- FOOTER------*/
footer{
    background-color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid; /*despues ver si se saca el borde*/
    margin-top: 30px;
}

ul, li{
    list-style: none;
    font-size: 18px;
    padding: 5px;
    font-weight:bold;
}


/*---- FORM AGREGAR JUEGO ----*/ 
.agregar-juego form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input{
    padding: 5px;
    width: 60%;
}



.btn-img-form{
    border: 0.4px solid black;
    cursor: pointer;
    background-color: white;
}

.btn-a{
    padding: 10px;
    border-radius: 50px;
    border: 0.5px solid black;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: whitesmoke;
}

.btn-a:hover, .btn-b:hover{ /*ver de poner este estilo y el de los button en un mismo lugar, codigo repetido*/
    background-color: #062530;
    color: grey;
    font-size: 24px;
}



h2{
    padding: 10px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid;
    width: 100%;
    box-shadow: 10px 11px 5px -3px rgba(138,131,131,0.51);
    -webkit-box-shadow: 10px 11px 5px -3px rgba(138,131,131,0.51);
    -moz-box-shadow: 10px 11px 5px -3px rgba(138,131,131,0.51);
}




/*ESTILOS LISTA DE JUEGOS*/

.lista-juegos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-img{
    width: 40%;
    height: 50%;
    border-radius: 0.5rem;
    border: 3px solid black;
}

.card-juego{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
}

h3{
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: 2px solid rgb(136, 243, 29);
}




